<% var article=getArticle;%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article Page</title>
  </head>
  <body>
    <h1><%= article[0].title %></h1>

    <p><%= article[0].date %></p>

    <p><%= article[0].content %></p>
  </body>
</html>
